@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YapariTrial-ExtraBold";
  src: url("../public/fonts/YapariTrial-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "YapariTrial-Bold";
  src: url("../public/fonts/YapariTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YapariTrial-SemiBold";
  src: url("../public/fonts/YapariTrial-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YapariTrial-Medium";
  src: url("../public/fonts/YapariTrial-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "YapariTrial-Regular";
  src: url("../public/fonts/YapariTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Cyrillic-ExtraBold";
  src: url("../public/fonts/Averta\ Cyrillic\ ExtraBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Cyrillic-Bold";
  src: url("../public/fonts/Averta\ Cyrillic\ Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Cyrillic-SemiBold";
  src: url("../public/fonts/Averta\ Cyrillic\ SemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Averta-Cyrillic-Regular";
  src: url("../public/fonts/Averta\ Cyrillic\ Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* bg-[url("/images/background.png")] */
@layer base {
  html {
    font-family: 'Averta-Cyrillic-Regular, sans-serif';
  }

  body {
    @apply m-0 p-0 w-screen bg-black bg-cover h-screen outline-none list-none box-border font-avertaRegular text-white w-full h-full overflow-x-hidden;
  }
}

@layer components {
  .center-mode {
    @apply flex items-center justify-center;
  }

  .custom-container {
    @apply max-w-[1400px] mx-auto px-6;
  }

  .custom-shadow {
    box-shadow: 0px 22px 18px 0px rgba(34, 60, 80, 0.05);
  }

  .blue-item {
    @apply bg-[#1D4ED8] blur-[70px] rounded-full;
  }

  .pink-item {
    @apply bg-[#D946EF] blur-[70px] rounded-full pointer-events-none;
  }

  .section-item {
    @apply bg-[#FFF]/[0.05] border border-whiteBorder hover:border-pink transition p-4 rounded-[20px];
  }

  .title {
    @apply font-yaBold lg:text-[42px] text-[24px];
  }

  .subtitle {
    @apply font-regular lg:text-[16px] text-[14px];
  }

  .big-text {
    background: -webkit-linear-gradient(90deg, #2563EB, #D946EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.slick-slider .slick-dots  {
  @apply transition
}

.slick-slider .slick-dots li {
  @apply w-[24px] h-[8px] bg-telegram rounded-[4px] transition
}

.slick-slider .slick-dots li.slick-active {
  @apply scale-x-[1.5] bg-pink transition rounded
}

.slick-track {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
}

.nav-link .active {
  @apply text-pink scale-110 transition
}