@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans-Black";
  src: url("../public/fonts/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-ExtraBold";
  src: url("../public/fonts/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Bold";
  src: url("../public/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-SemiBold";
  src: url("../public/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Medium";
  src: url("../public/fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-Regular";
  src: url("../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply m-0 p-0 w-screen bg-black h-screen outline-none list-none box-border font-regular text-white w-full h-full;
  }
}

@layer components {
  .center-mode {
    @apply flex items-center justify-center;
  }

  .custom-container {
    @apply max-w-[1400px] mx-auto px-6;
  }

  .custom-shadow {
    box-shadow: 0px 22px 18px 0px rgba(34, 60, 80, 0.05);
  }

  .blue-item {
    @apply bg-[#1D4ED8] blur-[70px] rounded-full;
  }

  .pink-item {
    @apply bg-[#D946EF] blur-[70px] rounded-full pointer-events-none;
  }

  .section-item {
    @apply bg-[#FFF]/[0.05] border border-whiteBorder hover:border-pink transition p-4 rounded-[20px];
  }

  .title {
    @apply font-bold lg:text-[42px] text-[24px];
  }

  .subtitle {
    @apply font-regular lg:text-[16px] text-[14px];
  }

  .big-text {
    background: -webkit-linear-gradient(90deg, #2563EB, #D946EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
